# Entorno Virtual Python
aws-env/
venv/

# Variables de entorno y secretos
.env
.env.*

# Archivos Python generados y cachés
__pycache__/
*.pyc
*.pyo

# Archivos de Testing
.pytest_cache/
htmlcov/
.coverage

# Archivos temporales y del sistema operativo
*~
.DS_Store
.vscode/
.idea/

# Credenciales locales de AWS
.aws/

# Carpetas temporales de uploads y downloads
uploads/*
!uploads/.gitignore
downloads/*
!downloads/.gitignore

# Terraform (cubre raíz y subcarpetas)
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
