<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>---S3 File Manager---</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <a href="/">Back to Home</a>
    <h1>Download object from the Bucket</h1>
    {% if message %}
    <p>{{ message }} </p>
    {% else %}
    <p>Select an object to download (coming soon...)</p>
    {% endif %}
</body>

</html>