<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-S3 File Manager-</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <a href="/">Back to Home</a>
    <h1>Upload file to S3</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="the_file">
        <input type="submit" value="Upload it!">
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>